@font-face {
    font-family: titw-reg;
    src: url(Fonts/TitilliumWeb-Regular.ttf);
}
body{
    background-color: #222831;
}
.headr{  
    margin: 0;  
    padding-right: 1em;
    padding-left: 1em;
    color: #EEEEEE;
    text-decoration: none;
}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: titw-reg;
    margin-right: 50px;
}
#Insta{
    background-color: #222831;
    height: 40px;
    padding-right: 2px;
    padding-left: 6px;
}
#Discord{
    background-color: #222831;
    height: 18px;
    padding-left: 16px;
    padding-right: 6px;
    border-left: 1px solid rgba(255, 255, 255, 0.612);
}
#Linkdin{
    height: 40px;
}
#initial{
    margin-right: auto;
    color: #00adb5;
    text-shadow: 2px 2px #393E46, -2px -2px #FFFC28;
}
.N1{
    color: #EEEEEE;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    font-size: 500%;
    display: inline-block;  
    margin-left: 60px;
    vertical-align: bottom;
    margin-top: 0;
    margin-bottom: 0;
}
#dot{
    color: #00adb5;
}
#pic{
    display:inline-block;
}